
body{
     background-color: antiquewhite;

}

#myname{ color:rgb(0, 115, 255);
         text-align: center;

}

img{ width: 170px;

    }

#CM{ color: rgb(0, 115, 255);
     

}

a{
    text-decoration: none;
    color: black;
    
}

a:hover{
    color: lightblue;
}

#text{
    height: 120px;
}

#submit{
    margin-top: 10px;
}